*
!.gitignore
!covers/
!covers/*.avif
!covers/*.gif
!covers/*.jpeg
!covers/*.jpg
!covers/*.png
!covers/*.svg
!covers/*.webp
!media/
!media/*.avif
!media/*.gif
!media/*.jpeg
!media/*.jpg
!media/*.png
!media/*.svg
!media/*.webp
